.tooltip{
    position: fixed;
    border-radius: 4px;
    background-color: var(--tooltip-bg-color);
    color: var(--tooltip-txt-color);
    font-family: Arial;
    padding: 3px 6px;
    font-size: 13px;
    &::before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      border: 5px solid var(--tooltip-bg-color);
    }
    &--below {
      transform:translateX(-50%);
      margin-top: 7px;
      &::before {
        border-left-color: transparent;
        border-right-color: transparent;
        border-top: none;
        left: calc(50% - 5px);
        top: -4px;
      }
    }
    &--above {
      transform:translate(-50%, -100%);
      margin-bottom: 7px;
      &::before {
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom: none;
        left: calc(50% - 5px);
        bottom: -4px;
      }
    }
    &--left {
      transform:translate(calc(-100% - 7px), -50%);
      &::before{
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom: none;
        right: -4px;
        bottom: 50%;
      }
    }
    &--right {
      transform:translateY(-50%);
      margin-left: 7px;
      &::before{
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom: none;
        left: -4px;
        bottom: 50%;
      }
    }
    &--fade-in{
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 2s;
      }
      @keyframes fadeInOpacity {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    &--fade-out{
      opacity: 1;
      animation-name: fadeOutOpacity;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-duration: 2s;
    }
    @keyframes fadeOutOpacity {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  } 
  
