<div style='padding : 50px'>
    <app-select chips [options] = 'searchAPI'
    bgcolor = 'green' fill="outline"
    placeholder="Fruit List"
    (onSelect) = "onSelected($event)"
    [config] = "dropdownConfig"
    type="text"
    [transformDataFn]="transformData"
   > </app-select>
</div>
<div style="padding:50px" >
    <app-button tooltip="taylor" position="left">Jumping</app-button>
    <div style="padding: 12px">
        <app-chip bgcolor="blue" tooltip="ami" position="right">Hello</app-chip>
    </div>
</div>

<app-tabs>
    <app-tab>Hello</app-tab>
</app-tabs>