@use 'sass:math';
@use 'sass:map';

$button-height : 36px;
$button-font-size: 12px;
$button-width-ratio: math.div(16,9) !default;
$button-padding-ratio: 2.25 !default;
$multipliers: (
    'xl' : 4,
    'l' : 2,
    'default' : 1,
    's' : 0.2,
    'xs': 0.4,
    ) !default;
$button-sizes : () !default;
$button-sizes: map.merge(
  (
    'height': $button-height,
    'font-size': $button-font-size,
    'width-ratio': $button-width-ratio,
    'padding-ratio': $button-padding-ratio
  ),
  $button-sizes
);

@mixin button-sizes($map:$button-sizes){
    @each $sizeName, $multiplier in $multipliers {
        $size : map.get($map, 'font-size') + math.div(2* $multiplier, 16);
        $height: map.get($map, 'height')* $multiplier;

        .btn--size-#{$sizeName} {
            --btn-size: #{$size}rem;
            --btn-height: #{$height}px;
            font-size: var(--btn-size);
            min-width: tools.roundEven(#{$height * map.get($map, 'width-ratio')}px);
            padding: tools.roundEven(#{$height / map.get($map, 'padding-ratio')}px);
          }
        }
    }


.expand {
    min-width: 100% !important;
}