<div tabindex="0" class="dropdown">
    <div [class.disabled]="disabled">
      <span tabindex="-1" class="dropdown-btn" (click)="toggleDropdown($event)">
        <span *ngIf="!selectedOption">{{_placeholder}}</span>
        <span class="selected-option-container">
          <span class="selected-item">
            <span>{{selectedOption}}</span>
          </span>
        </span>
     </span>
        <div [hidden] = "!_config.defaultOpen"class="dropdown-data">
            <ul>
                <li *ngFor="let item of data; let i = index;" (click)="clickOption($event,item)" class="item-checkbox">
                  <input type=checkbox [attr.aria-label]="item"  />
                  <div>{{item}}</div>
                </li>
            </ul>
        </div>
    </div>
</div>